@model IEnumerable<LightpointTask.Models.ShopViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>list of stores</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteShop", new { id = item.Id }) |
                @Html.ActionLink("add product to the store", "GetListProducts", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div class="btn-group">
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-info" })
    @Html.ActionLink("add store", "MakeShop", "Shop", null, new { @class = "btn btn-info" })
</div>


